h2 {
  color: green;
}
.tour {
  background-color: peachpuff;
  margin: 10px;
  padding: 5px 20px;
  border: 2 px dotted maroon;
  border-radius: 10px;
}
.tourimage {
  width: 50%;
  float: left;
}
.features {
  width: 50%;
  float: left;
}
.clearfloat {
  clear: both;
}
h2:hover {
  color: red;
}
li:first-child {
  color: purple;
}
li:last-child {
  color: brown;
}
li:nth-child(2) {
  color: darkblue;
}
#site-link:link {
  color: orange;
}
#site-link:visited {
  color: orangered;
}
