body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    font-size: 18px;
}
img {
    width: 100%;
    height: 100%;
}
#title {
    padding: 10px;
    background-color: plum;
}
#main {
    width: 60%;
    float: left;
}
.sidediv {
    width: 20%;
    height: auto;
    float: right;
    margin: 10px;
    border: 4px solid lightblue;
    border-radius: 10px;
}
.text-center {
    text-align: center;
}