.inp-flex {
    display: flex;
    height: 32px;
    align-items: stretch;
    margin: 20px;
}
.inp-text {
    flex: 1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
.inp-item {
    background-color:cornflowerblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: white;
}
.inp-item img {
    width: 32px;
}

