body {
  background: rgba(180, 200, 230, 0.5);
}

h2 {
  /* Color names */
  color: maroon;
}
#title {
  color: rgb(184, 145, 20);
}
.subtitle {
  color: rgb(245, 198, 47);
}
.tour {
  /* Hex code */
  background-color: #b6d6bf;
  margin: 10px;
  padding: 5px 20px;
  /* RGB colors */
  border: 4px dotted rgb(150, 150, 150);
  border-radius: 10px;
}
.tourimage {
  width: 50%;
  float: left;
}
.features {
  width: 50%;
  float: left;
}
.clearfloat {
  clear: both;
}
.text-center {
  text-align: center;
}

#gradient-demo {
  height: 500px;
  width: 80%;
  /* Linear gradient */
  /* background: linear-gradient(to right, red, yellow); */

  /* Radial gradient */
  /* background: radial-gradient(red, blue); */
  /* background: radial-gradient(red, blue, green); */
  background: radial-gradient(red 5%, blue 50%);
  /* background: radial-gradient(circle, red 5%, blue 50%); */
  /* background-image: radial-gradient(circle, red, blue); */
}
