.text {
    margin: 10px 5px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 18px;    
}
.button {
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    background: rgb(38, 100, 199);
    color: white;
    /* transform: rotate(-45deg); */
    /* transform: skewX(45deg); */
    /* transform: skewY(45deg); */
    /* transform: skew(45deg,5deg); */
    /* transform: matrix(scaleX, skewX, skewY, scaleY, translateX, translateY); */
    transform: matrix(1, 0.45, 0.45, 1, 100, 50);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;  /* chrome and safari */
    -moz-transition: all 300ms ease-in-out;     /* mozilla firefox */
    -o-transition: all 300ms ease-in-out;     /* opera */
}

.button:hover {
    background: rgb(84, 132, 209);
    padding: 20px 30px;
    /* transform: translate(50px, 30px); */
    /* transform: scale(2.5); */
}